**/*.rs.bk
*.bin
*.elf
*.hex
*.map
.#*
.gdb_history
cmake_install.cmake
CMakeCache.txt
CMakeLists.txt.user
Makefile
build/
CMakeFiles/
target/

# editor files
.vscode/*
!.vscode/*.md
!.vscode/*.svd
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
